@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(253, 222, 255) 100%);
    width: 100%;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1400px;
    margin: auto;
}